body{
  background-image:url("img/grey_sandbag.png");
}
.nav_container{
  margin-top:0;
  float:left;
  width:100%;
  overflow:hidden;
  position:relative;
}
.nav_bar{
  list-style-type: none;
  padding: 0;
  display:block;
}
.nav_item{
  float:left;
  width:16.666%;
  overflow:hidden;
  position:relative;
}
.nav_link:link,.nav_link:visited{
  display:block;
  background-color: #000000;
  color: #FFFFFF;
  padding: 6px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 30px;
  text-decoration:none;
  width=250px;
}
.nav_link:hover,.nav_link:active{
  background-color: #FFFFFF;
  color:#000000;
}
.section_div{
  width:75%;
  margin-left:auto;
  margin-right:auto;
  padding-top:55px;
  padding-bottom:55px;
}
p{
  font-size:24px;
  font-family:Tahoma,Verdana,Segoe,sans-sarif;
  text-align:text-top;
  margin-top:0;
  margin-bottom:0;
}
h1{
  color:#000000;
  font-size:75px;
  padding-top:0px;
  font-family: Palatino, 'Palatino Linotype', 'Palatino LT STD', 'Book Antiqua', Georgia, serif;
}
h2{
  font-family: Palatino, 'Palatino Linotype', 'Palatino LT STD', 'Book Antiqua', Georgia, serif;
  color:#000000;
  font-size:48px;
  margin-top:0;
  margin-bottom:0;
  vertical-align:text-top;
}
.section_image{
  width:100%;
}
table{
  padding-left:50px;
  padding-right:50px;
}
.text_td,.header_td{
  width:66%;
  vertical-align:text-top;
  padding-left:25px;
  padding-right:25px;
}
.header_td{
  height:25%;
}
.img_td{
  width:34%;
}
hr{
  border:0;
  height:0;
  box-shadow:0 0 10px 1px #000000;
  width:80%;
}
.registry_image{
  width:50%;
  margin-left:auto;
  margin-right:auto;
}
.text_input{
  font-size:24px;
  border-radius: 5px;
  font-family: Palatino, 'Palatino Linotype', 'Palatino LT STD', 'Book Antiqua', Georgia, serif;
  border:0 none;
  margin-top:25px;
  margin-bottom:25px;
  width:35%;
}
.button_class{
  font-family: Palatino, 'Palatino Linotype', 'Palatino LT STD', 'Book Antiqua', Georgia, serif;
  padding:5px 15px;
  background:#000000;
  font-weight:bold;
  font-size:30px;
  color:#ffffff;
  border:0 none;
  cursor:pointer;
  border-radius: 5px;
  text-transform: uppercase;
}
.honey_header,.honey_cell{
  font-family: Palatino, 'Palatino Linotype', 'Palatino LT STD', 'Book Antiqua', Georgia, serif;
  width:15%;
  text-align:center;
}
.honey_cell{
  font-size:20px;
}
.honey_header{
  font-size:24px;   
}
.honey_table{
  border:1px solid black;
  margin-top:25px;
  margin-bottom:25px;
}